NavjitKaur-XML-Assignment2/public_html/CD_schema-Part2.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="title" type="xs:string"/>
  <xs:element name="artist" type="xs:string"/>
  <xs:element name="country" type="xs:string"/>
  <xs:element name="company" type="xs:string"/>
  <xs:element name="price" type="xs:float"/>
  <xs:element name="year" type="xs:short"/>
  <xs:element name="cd">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:element ref="artist"/>
        <xs:element ref="country"/>
        <xs:element ref="company"/>
        <xs:element ref="price"/>
        <xs:element ref="year"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cd" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
