Week2ClassActivity/prod.dtd

<!ELEMENT products (product+)>
<!ELEMENT product (productName+, manufacturer+, description+, price+, productItems+, message?)>
<!ELEMENT productName (#PCDATA)>
<!ELEMENT manufacturer (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT productItems (#PCDATA)>
<!ELEMENT message (#PCDATA)>
<!ATTLIST price currency (USD | CAD | EURO) #REQUIRED>

