Week3XMLClassActivity/public_html/QuizSalamiSlice.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="publicationYear" type="xs:short"/>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="author" type="xs:string"/>
  <xs:element name="desc" type="xs:string"/>
  <xs:element name="play">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="publicationYear"/>
        <xs:element ref="title"/>
        <xs:element ref="author"/>
        <xs:element ref="desc"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="schoolLibrary">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="play" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
