Week3XMLClassActivity/public_html/QuizVenetianBlind.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="schoolLibrary" type="schoolLibraryType"/>
  <xs:complexType name="playType">
    <xs:sequence>
      <xs:element type="xs:short" name="publicationYear"/>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="author"/>
      <xs:element type="xs:string" name="desc"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="schoolLibraryType">
    <xs:sequence>
      <xs:element type="playType" name="play" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
